:root{
    /*  VARIAVEIS GLOBAIS */
    --white_color: rgb(255,255,255);
    --shadow_text_grey : rgba(109, 107, 107, 0.932);
    --black_strong: rgb(3, 3, 3);
    --red_ease: #ff0000;
    --red_dark:rgba(134, 10, 10, 0.973);
    --orange:#C84C09;
    --orange_dark: rgb(80, 40, 3);

}


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
    color: rgba(240, 240, 240, 0.733);
             
}
html body{
    display: block;
    font-size: 62,5%;
    /* PORCENTAGEM ESPECIFICA PARA 1rem = 10px */
}

body{     
    background-color: var(--black_strong);    
    width: auto;
    padding: auto;    
    margin: 9vw;  
    /* VW = vai se ajustar ao tamanho da tela do usuario */         
    }

main, .foto_perfil, .container-1, .rodape{
    box-shadow:  0.3rem  0.3rem 5rem var(--orange);
}
header{
    background-color: var(--orange_dark);    
    padding: 5%;
    border-radius: 1rem;
    text-align: center;    
    
}

main{
    background-color: rgba(90, 87, 87, 0);
    width: 80%;
    margin: auto;   
    padding: 10%;
    
}
img.lado , .ladoB{
    display: flex; 
    float: right;
    width: auto;
    height: 5rem;    
    padding: 1.5rem;    
}
.ladoB{
    height: 3rem;
    /* imagem devOPs */
}
#sap{
    height: 8rem;
    padding: 0.5rem;
}

.foto_perfil{ 
    margin-top: 2rem;
    float: right;
    border-radius: 2rem;   
}
 
article{
    text-align:left;
    flex-direction: column;
    justify-content:flex-start;
    padding: 5%;
    margin: 1rem;
}
.container-0{       
    margin: auto;     
}

.container-1{
    background-color: rgba(187, 84, 16, 0.11);    
    border-radius: 1rem;
}

footer.rodape{
    text-align:center;
    font-size: 1rem;
    padding: 1rem ;
    border-radius: 1rem;
    width: 90%;
    height: auto;
    margin: auto;
}
footer.fim{
    padding-top: 2rem;
    text-align:center;
    font-size: 0.8rem;    
}

/* ##### FONTES ##### */

h1{
    font-size: 2rem;    
    text-shadow:0.2rem 0.2rem 0.2rem var(--black_strong);
}

h2{
    font-size: 1.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem var(--shadow_text_grey);
}

p{
    text-shadow: none;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.3rem;
    padding: 1rem 2rem;
}
.container-0 p{       
    line-height: 2rem;   
}

a{
    text-decoration: none;
    font-weight: bold;
    color: var(--white_color);
    text-shadow: 0.1rem 0.1rem 0.7rem var(--orange) ;
    
}
footer.rodape a{
    padding: 2rem 2rem;
}

a.perfil{    
    padding-right: 3rem;
}

a:hover {
    text-decoration: none;
    transform: scale(1.7);
    transition: 0.5s;
    color:var(--orange);
  }

/*##### Barra de rolagem #####*/
::-webkit-scrollbar{
      width: 2rem;
  }
::-webkit-scrollbar-track{
    background: var(--orange_dark);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb{
    background: var(--black_strong);
    border-radius: 1rem;
}

/* RESPONSIVIDADE MEDIA QUERIES */

@media all and (min-width: 38rem) and (max-width: 72rem){
    *{
       color: var(--black_strong);
    }
    .foto_perfil, header, .container-1, footer.rodape{         
        box-shadow: 1rem 1rem 2rem #50B97E;
    }
    #sap{
        height: 6rem;
    }
    body{     
        background-color: #D0DCD5;            
        margin: 0;         
        }
    main{
        background-color: rgba(10, 134, 37, 0.11);
        padding: 5%;
        width: auto;
        margin: 0;
        box-shadow: none;
    }
    .container-1, footer.rodape, header{
        background-color: #29BF12;
    }    
    header,article{        
        padding: 2%;
        margin: 3%;
        border-radius: 0.8rem;  
    }
     
    /* ##### FONTES ##### */
    h1, h2{
        color: var(--white_color);
        font-size: 1.1rem;
        text-shadow: 0.2rem 0.2rem 0.2rem var(--black_strong);
    }
    
    h1{
        font-size: 1.5rem;    
        
    }

    p{
        font-size: 0.9rem;
        font-weight: 550;    
        padding: 0.5rem 1rem;
    }

    a{
        font-weight: bold;
        color: #4E4187;
        text-shadow: 0.1rem 0.2rem 0.4rem rgba(231, 231, 231, 0.973);
    }

    a:hover {
        color:#32f032e0;
        text-shadow: 0.5rem 0.5rem 0.5rem #4E4187;
    }

    /*##### Barra de rolagem #####*/
    ::-webkit-scrollbar,::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
        display: none;
    }


}
@media all and  (max-width: 37.99rem){
    *{
       color: #F3F3F3;
    }
    .foto_perfil, header, .container-1, footer.rodape{         
        box-shadow: -0.7rem -0.7rem 2.5rem var(--orange);
    }
    #sap{
        height: 6rem;
    }
    body{     
        background-color: #7b9e89cb;            
        margin: 0;         
        }
    main{
        background-color: rgba(10, 134, 37, 0.11);
        padding: 5%;
        width: auto;
        margin: 0;
        box-shadow: none;
    }
    .container-1, footer.rodape, header{
        background-color: #fcba04c2;
    }    
    header,article{        
        padding: 2%;
        margin: 3%;
        border-radius: 0.8rem;  
    }
     
    /* ##### FONTES ##### */
    h1{
        color: #251400;
        font-size: 1.2rem;    
        text-shadow: -0.2rem -0.2rem 0.2rem var(--orange);
    }
    h2{
        font-size: 1rem;
        text-shadow: -0.2rem -0.2rem 0.2rem var(--orange);
    }

    p{
        line-height: 1rem;
        font-size: 0.9rem;
        font-weight: 600;    
        padding: 0.5rem 1rem;
    }

    a{
        letter-spacing: none;
        font-weight: bold;
        color: #250001;
        text-shadow: -0.1rem -0.2rem 0.4rem var(--orange);
    }
    footer.rodape a{
        padding: 2rem 0.5rem;
        margin: 1rem;
    }

    a:hover {
        color:var(--orange);
        text-shadow: -0.2rem -0.2rem 0.2rem var(--orange);
    }
    /*##### IMAGENS #####*/
    
    .foto_perfil{ 
        display: flex;
        height: 8rem; 
        margin: 0.6rem ;
        float: none;
        border-radius: 2rem;
    }
    img.lado , .ladoB {
         float: left;
        height: 3.5rem;    
        padding: 1.5rem;    
    }
    .ladoB{
        height: 1.8rem;
        /* imagem devOPs */
    }

    /*##### Barra de rolagem #####*/
    ::-webkit-scrollbar,::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
        display: none;
    }


}