*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
    color: rgba(240, 240, 240, 0.733);
             
}
html body{
    display: block;
    font-size: 62,5%;
    /* PORCENTAGEM ESPECIFICA PARA 1rem = 10px */
}

body{     
    background-color: #030303;      
    width: auto;
    padding: auto;    
    margin: 9vw;  
    /* VW = vai se ajustar ao tamanho da tela do usuario */         
    }

header, main, .foto_perfil, .container-1, .rodape{
    box-shadow: 3px 3px 50px rgba(134, 10, 10, 0.973);
}
header{
    background-color: rgba(0, 0, 0, 0.11);    
    padding: 5%;
    border-radius: 10px;
    text-align: center;    
    
}

main{
    background-color: rgba(90, 87, 87, 0);
    width: 80%;
    margin: auto;   
    padding: 10%;
    
}
img.lado , .ladoB{
    display: flex; 
    float: right;
    width: auto;
    height: 5rem;    
    padding: 15px;    
}
.ladoB{
    height: 3rem;
    /* imagem devOPs */
}

.foto_perfil{ 
    margin-top: 20px;
    float: right;
    border-radius: 20px;   
}
 
article{
    text-align:left;
    flex-direction: column;
    justify-content:flex-start;
    padding: 5%;
    margin: 10px;
}
.container-0{       
    margin: auto;     
}

.container-1{
    background-color: rgba(134, 10, 10, 0.11);    
    border-radius: 10px;
}

footer.rodape{
    text-align:center;
    font-size: 1rem;
    padding: 1rem ;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: auto;
}
footer.fim{
    padding-top: 20px;
    text-align:center;
    font-size: 0.8rem;    
}

/* ##### FONTES ##### */

h1{
    font-size: 2rem;    
    text-shadow: 2px 2px 2px rgba(109, 107, 107, 0.932);
}

h2{
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px rgba(109, 107, 107, 0.932);
}

p{
    text-shadow: none;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.3rem;
    padding: 10px 20px;
}
.container-0 p{       
    line-height: 2rem;   
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(112, 0, 0);
    text-shadow: 1px 1px 1px rgba(109, 107, 107, 0.932);
    
}
footer.rodape a{
    padding: 2rem 2rem;
}

a.perfil{    
    padding-right: 30px;
}

a:hover {
    text-decoration: none;
    transform: scale(1.5);
    transition: 0.5s;
    color:#ff0000;
  }

/*##### Barra de rolagem #####*/
::-webkit-scrollbar{
      width: 20px;
  }
::-webkit-scrollbar-track{
    background: rgba(134, 10, 10, 0.973);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: #000000;
    border-radius: 10px;
}

/* RESPONSIVIDADE MEDIA QUERIES */

@media all and (min-width: 380px) and (max-width: 720px){
    *{
       color: #000F08;
    }
    .foto_perfil, header, .container-1, footer.rodape{         
        box-shadow: 10px 10px 20px #50B97E;
    }
    body{     
        background-color: #D0DCD5;            
        margin: 0;         
        }
    main{
        background-color: rgba(10, 134, 37, 0.11);
        padding: 5%;
        width: auto;
        margin: 0;
        box-shadow: none;
    }
    .container-1, footer.rodape, header{
        background-color: #29BF12;
    }    
    header,article{        
        padding: 2%;
        margin: 3%;
        border-radius: 8px;  
    }
     
    /* ##### FONTES ##### */
    h1{
        font-size: 1.5rem;    
        text-shadow: 2px 2px 2px rgba(231, 231, 231, 0.973);
    }
    h2{
        font-size: 1.1rem;
        text-shadow: 2px 2px 2px rgba(231, 231, 231, 0.973);
    }

    p{
        font-size: 0.9rem;
        font-weight: 550;    
        padding: 5px 10px;
    }

    a{
        font-weight: bold;
        color: #4E4187;
        text-shadow: 1px 2px 4px rgba(231, 231, 231, 0.973);
    }

    a:hover {
        color:#32f032e0;
        text-shadow: 5px 5px 5px #4E4187;
    }

    /*##### Barra de rolagem #####*/
    ::-webkit-scrollbar,::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
        display: none;
    }


}
@media all and  (max-width: 379px){
    *{
       color: #F3F3F3;
    }
    .foto_perfil, header, .container-1, footer.rodape{         
        box-shadow: -7px -7px 25px #C84C09;
    }
    body{     
        background-color: #7b9e89cb;            
        margin: 0;         
        }
    main{
        background-color: rgba(10, 134, 37, 0.11);
        padding: 5%;
        width: auto;
        margin: 0;
        box-shadow: none;
    }
    .container-1, footer.rodape, header{
        background-color: #fcba04c2;
    }    
    header,article{        
        padding: 2%;
        margin: 3%;
        border-radius: 8px;  
    }
     
    /* ##### FONTES ##### */
    h1{
        color: #250001;
        font-size: 1.2rem;    
        text-shadow: -2px -2px 2px #C84C09;
    }
    h2{
        font-size: 1rem;
        text-shadow: -2px -2px 2px #C84C09;
    }

    p{
        line-height: 1rem;
        font-size: 0.9rem;
        font-weight: 600;    
        padding: 5px 10px;
    }

    a{
        letter-spacing: none;
        font-weight: bold;
        color: #250001;
        text-shadow: -1px -2px 4px #C84C09;
    }
    footer.rodape a{
        padding: 2rem 0.5rem;
        margin: 1rem;
    }

    a:hover {
        color:#C84C09;
        text-shadow: -2px -2px 2px #250001;
    }
    /*##### IMAGENS #####*/
    
    .foto_perfil{ 
        display: flex;
        height: 8rem; 
        margin: 0.6rem ;
        float: none;
        border-radius: 20px;
    }
    img.lado , .ladoB {
         float: left;
        height: 3.5rem;    
        padding: 15px;    
    }
    .ladoB{
        height: 1.8rem;
        /* imagem devOPs */
    }

    /*##### Barra de rolagem #####*/
    ::-webkit-scrollbar,::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
        display: none;
    }


}